BuR_ODD.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns:sch="http://purl.oclc.org/dsdl/schematron" xmlns="http://www.tei-c.org/ns/1.0">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>Title</title>
      </titleStmt>
      <publicationStmt>
        <p>This document is the ODD customization for the Blood and Races documentation project, created for HIST 630: Digital Humanities</p>
        <!--Stuff about the project, not necessarily about the document itself-->
      </publicationStmt>
      <sourceDesc>
        <p>The chapter "Blood and Race" comes from a handbook for the BDM - female division of the Hitler Youth - published by the Nazi Party in 1934.</p>
      </sourceDesc>
    </fileDesc>
  </teiHeader>
  <text>
    <body>
      <schemaSpec ident="BDMIndoctrinationODD" start="TEI">
        <moduleRef key="header"/>
        <moduleRef key="core" exclude="binaryObject cb graphic hi ruby stage unit"/>
        <moduleRef key="tei"/>
        <moduleRef key="textstructure" exclude="div1 div2 div3 div4 div5 div6 div7"/>
        <moduleRef key="namesdates" exclude="age climate death floruit sex terrain"/>
        <elementSpec module="namesdates" ident="orgName" mode="change">
          <attList>
            <attDef ident="type" mode="change" usage="req">
              <datatype>
                <dataRef key="teidata.enumerated"/>
              </datatype>
              <valList type="closed" mode="replace">
                <valItem ident="race">
                  <gloss>Race</gloss>
                  <desc>A race as defined officially by the Nazi Party.</desc>
                </valItem>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        <elementSpec module="namesdates" ident="orgName" mode="change">
          <constraintSpec ident="ref-on-orgName" scheme="schematron">
            <constraint>
              <sch:rule context="tei:text//tei:orgName/@ref">
                <sch:let name="standoff"
                  value="doc('https://raw.githubusercontent.com/abbyfollis/abbyfollis.github.io/main/StandoffMarkup.xml')"/>
                <sch:let name="RaceIDs"
                  value="$standoff//tei:org/@xml:id"/>
                <sch:let name="racerefIDs" value="for $i in $RaceIDs return concat('#', $i)"/>
                <sch:let name="error" value="."/>
                <sch:assert test=". = $racerefIDs"
                  ><sch:value-of select="$error"/>
                      is not an acceptable race as identified in the Standoff Markup for the translation of Blood and Race.
                </sch:assert>
              </sch:rule>
            </constraint>
          </constraintSpec>
        </elementSpec>
       <elementSpec module="core" ident="foreign" mode="change">
         <constraintSpec ident="language-is-de" scheme="schematron">
           <constraint>
             <sch:rule context="tei:foreign">
               <sch:let name="Encode" 
                 value="doc('https://raw.githubusercontent.com/abbyfollis/abbyfollis.github.io/main/BuR_Encode.xml')"/>
               <sch:let name="language"
                 value="$Encode//foreign/@xml:lang"/>
               <sch:let name="error" value="."/>
               <sch:assert test="@xml:lang = 'de'">
                 <sch:value-of select="$error"/>
                 is not acceptble. It should only be in German >:(
               </sch:assert>
             </sch:rule>
           </constraint>
         </constraintSpec>
       </elementSpec>
        <elementSpec module="namesdates" ident="placeName" mode="change">
         <constraintSpec ident="location" scheme="schematron">
           <constraint>
             <!--This should make sure that each placename is appropriately pointed to a ref in the Standoff Markup-->
             <sch:rule context="tei:text//tei:place/@ref">
               <sch:let name="standoff"
                 value="doc('https://raw.githubusercontent.com/abbyfollis/abbyfollis.github.io/main/StandoffMarkup.xml')"/>
               <sch:let name="location"
                 value="$standoff//tei:place/@xml:id"/>
               <sch:let name="LocationOfRace" value="for $i in $location return concat('#', $i)"/>
               <sch:let name="error" value="."/>
               <sch:assert test=". = $LocationOfRace">
                 <sch:value-of select="$error"/>
                 is not a real place.
               </sch:assert>
             </sch:rule>
           </constraint>
         </constraintSpec>
        </elementSpec>
      </schemaSpec>
    </body>
  </text>
</TEI>

<!-- Things to consider: defining locations (Standoff or ODD?), showing who a title is referring to -->